body {
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
}

h1, h2 {
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.4rem;
    margin-top: 2rem;
}

p {
    color: #555;
    margin-bottom: 1rem;
}

nav {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

nav a {
    text-decoration: none;
    font-weight: 600;
    color: #aaa;
    font-size: 2rem;
    cursor: pointer;
}

nav a.active {
    color: #333;
    pointer-events: none;
    cursor: default;
}

pre[class*="language-"] {
    margin: 1rem 0;
    border-radius: 16px;
    background-color: #f8f8f8;
    border: 1px solid #e8e8e8;
}

code[class*="language-"],
pre[class*="language-"] {
    font-family: 'Source Code Pro', monospace !important;
    font-size: 0.85rem;
    font-feature-settings: "liga" 1;
    color: #000; !important;
}

.token.comment {
    color: #008000;
}
.token.keyword {
    color: #800080;
}
.token.string {
    color: #0000FF;
}
.token.function {
    color: #000000;
}
.token.preprocessor,
.token.macro {
    color: #800000;
}
.token.class-name {
    color: #008080;
}
.token.operator {
    color: #000000;
    background: transparent;
}
.token.namespace {
    color: #2222B2;
}
.token.keyword[class*="control"] {
    color: #FFA500;
}
.token.constant {
    color: #FF8000;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #eee;
    }

    p {
        color: #ccc;
    }

    h1, h2 {
        color: #fff;
    }

    nav a {
        color: #888;
    }

    nav a.active {
        color: #fff;
    }

    pre[class*="language-"] {
        background-color: #1e1e1e;
        border: 1px solid #333;
    }

    code[class*="language-"] {
        color: #f8f8f2;
    }

    code[class*="language-"],
    pre[class*="language-"] {
        font-family: 'Source Code Pro', monospace !important;
        font-size: 0.85rem;
        font-feature-settings: "liga" 1;
    }

    /* Syntax highlighting tweaks */
    .token.comment {
        color: #6a9955;
    }

    .token.keyword {
        color: #c586c0;
    }

    .token.string {
        color: #ce9178;
    }

    .token.function {
        color: #dcdcaa;
    }

    .token.class-name {
        color: #4ec9b0;
    }

    .token.constant {
        color: #d16969;
    }

    .token.namespace {
        color: #9cdcfe;
    }
    .token.operator {
        color: #ffffff;
        background: transparent;
    }
}
